@import './variables';
header {
  height: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}
.header-wrap {
  box-shadow: 0 3px 9px 0 $dark-teal-10;
}
.stores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.med-sol {
  justify-self: center;
}
